*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(250, 254, 71, 1);
}

#nav1{
    height: 8vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    background-color: red;
    z-index: -1;
}
#nav1>img{
    height: 100px;
    width: 110px;
    margin-left: 4vw;
}
#home-div{
    /* border: 2px solid red; */
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 62vw;
    font-size: x-large;
    color: white;
}
#home-div>h3{
    cursor: pointer;
}
#nav1>input{
    /* border: 2px solid red; */
    height: 5vh;
    width: 12vw;
    position: relative;
    left: 61.3vw;
    padding-left: 10px;
    font-size: larger;
    border-radius: 5px;
    border: none;
}

#nav2{
    text-align: center;
    height: 20vh;
    /* border: 2px solid black; */
    background-color: rgb(255, 201, 161);
    padding: 4vh 5vw 0 5vw;
}

#main-div{
    /* border: 2px solid red; */
    /* height: 130vh; */
    height: auto;
}
#random-img-div{
    /* border: 2px solid rgb(30, 0, 255); */
    width: 100%;
    height: 60vh;
}

#search-image{
    height: 4vh;
    width: 2vw;
    position: absolute;
    left: 55vw;
    top: 30vh;
}
#search-image:hover{
    height: 3.7vh;
    width: 1.8vw;
}

#random-img{
    /* border: 2px solid red; */
    height: 47vh;
    width: 25vw;
    position: relative;
    left: 36.5vw;
    top: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#search-meal{
    border: 0.1px solid black;
    margin-top: 2vh;
    height: 4vh;
    width: 15vw;
    border-radius: 5px;
    padding-left: 0.3vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    left: 42vw;
}

#category{
    /* border: 2px solid red; */
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dish-name{
    /* border: 2px solid red; */
    margin-top: 3vh;
    height: 5vh;
    text-align: center;
    font-size: x-large;
    font-weight: bold
}

#category-h1{
    text-align: center;
    margin-top: 5vh;
}

.popup {
    display: none;
    width: 22vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -30%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.popup{
    border: 5px solid red;
    background-color: rgb(255, 255, 171);
}

.popup h3 {
    text-align: center;
}

.popup li {
    font-size: 10;
    margin-top: 5px;
    margin-left: 1.5vw;
}

.category-item {
    /* border: 2px solid rgba(250, 254, 71, 1); */
    height: 45vh;
    width: 23vw;
    /* margin: 10px; */
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.category-item>img {
    height: 44.5vh;
    width: 22.8vw;
    border-radius: 10px;
}

footer{
    background-color: rgb(255, 99, 99);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    #nav2{
        height: 33vh;
        /* border: 5px solid blue; */
    }
    #nav1{
        width: 100%;
    }

    #nav1 #home-div{
        /* border: 7px solid wheat; */
        width: 50%;
        left: 0;
        margin-left: 100px;
    }

    #nav1 input{
        position: absolute;
        /* width: 150px; */
        display: none;
    }
    #nav1 h3{
        font-size: 20px;
    }

    #category{
        /* flex-wrap: wrap; */
        display: grid;
        grid-auto-columns: (auto,1fr);
        /* border: 2px solid red; */
        grid-template-rows: auto;
        height: fit-content;
        /* overflow: hidden; */
    }

    .category-item{
        /* border: 5px solid red; */
        width: 300px;
        margin: 2% 0;
    }

    .category-item img{
        width: 100%;
        padding-top: 15%;
    }
    .category-item p{
        margin-bottom: 80%;
    }

    #random-img-div #random-img{
        /* border: 5px solid green; */
        width: 75%;
        left: 0;
        display: block;
        margin: auto;
    }

    #search-meal{
        width: 70%;
        left: 0;
        display: block;
        margin: auto;
        margin-top: 25px;
        padding-left: 7px;
    }

    #search-image{
        left: 78%;
        top: 44%;
        width: 25px;
    }

    footer{
        margin-top: 10%;
    }

    
}